<%= simple_form_for @persona do |form| %>
  <% if persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :nombre, id: :persona_nombre %>
  </div>

  <div class="field">
    <%= form.input :apellido, id: :persona_apellido %>
  </div>

  <div class="field">
    <%= form.input :edad, id: :persona_edad %>
  </div>

  <div class="field">
    <%= form.input :otro, id: :persona_otro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
